<h1>Add a new project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Project Name</label>
    <input id="title" name="title" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add!</button>
</form>
<br>

<p><a href="/projects">Back to Projects</a></p>