<h1>PDX People-People's People-People</h1>

<h3>Volunteer Projects</h3>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects to display.</p>
<% end %>

<p><a href="/projects/new">Add a new project</a></p>
<p><a href="/volunteers">Go to Volunteers</a></p>